.details{
    padding: 50px;
    text-align: left;
}
.percent{
    background-color: rgb(202, 190, 168);
    color: orangered;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}
.slashAmount{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: small;
}
